<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid ">

  <footer class=" row text-white text-center mt-5 " style="background-color: #343434;">
    <!-- Grid container -->
    <div class=" p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-12 col-md-12 mb-12 mb-md-0">
          <h5 class=" mb-4  fw-bold">ADIESTRA A TU PERRO</h5>

          <p class="">
             Política de cookies
          </p>
          <p class="">
            Politica de privacidad
         </p>
         <p class="">
          Términos y condiciones

       </p>

        </div>
      

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #343434;">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"></a>
    </div>
    <!-- Copyright -->
  </footer>
  
</div>
<!-- End of .container -->